body > section {
    background-image: url("../images/exercise-one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    height: 80vh;
    padding-top: 60px;
    margin: 40px auto;
}

body > section > h1 {
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}

body > div {
    background-image: url("../images/exercise-two-left.jpg"), url("../images/exercise-two-right.jpg");
    background-position: top left, top right;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin-left: 500px;
}

body > aside {
    background-image: url("../images/exerceise-three-repeat.jpg");
    background-repeat: repeat-x;
    width: 100%;
    height: 200px;
}

body > img {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
}